// To retrieve default styles and variables
@import "@styles/index.scss";

.create-compo-box {
    display: flex;
    flex-direction: column;
    height: 100%;

    section {
        display: flex;
        flex-direction: column;
        height: fit-content;

        &.overflow-handler {
            overflow: auto;
        }
    }

    .config-section-title {
        font-size: 18px;
        text-align: center;
        line-height: 26px;

        * {
            line-height: 26px;
        }

        .role-number-display {
            font-family: "Amita", serif;
            font-weight: 400;
        }
    }
}
