// To retrieve default styles and variables
@import "@styles/index.scss";

.create-compo-box {
    section {
        display: flex;
        flex-direction: column;
        height: fit-content;

        &.overflow-handler {
            overflow: auto;
        }
    }

    .config-section-title {
        font-size: 18px;
        text-align: center;
        line-height: 26px;

        * {
            line-height: 26px;
        }
    }

    .create-compo-next-button {
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: stretch;

        .compo-error-message {
            position: absolute;
            z-index: 4;
            bottom: 40px;
            font-size: 14px;
            line-height: 200%;
            padding: 0 8px;
            border-radius: 4px;
            background-color: rgba($colorRed, 0.6);
            user-select: none;
            pointer-events: none;

            &:not(:empty) {
                animation: vibrate 0.2s linear 2 both;
            }
        }

        @keyframes vibrate {
            0% {
                transform: translate(0);
            }
            20% {
                transform: translate(-2px, 2px);
            }
            40% {
                transform: translate(-2px, -2px);
            }
            60% {
                transform: translate(2px, 2px);
            }
            80% {
                transform: translate(2px, -2px);
            }
            100% {
                transform: translate(0);
            }
        }

        .confirmation-container {
            position: fixed;
            z-index: 5;
            padding: 10%;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: rgba($colorBlack, 0.6);
            display: flex;
            justify-content: center;
            align-items: center;

            .confirmation-box {
                width: fit-content;
                padding: 4px;
                border-radius: 4px;
                background-color: $colorBlack;
                border: 2px solid $colorWhite;
                font-size: 16px;

                p {
                    text-align: center;
                }

                .choice {
                    display: block;
                    margin: auto;
                    width: fit-content;
                    line-height: 100%;
                    padding: 9px;
                    margin: 10px auto;
                    border-radius: 10px;
                }

                .continue-button {
                    background-color: $colorGreen;
                }

                .cancel-button {
                    background-color: $colorRed;
                }
            }
        }
    }
}
