// To retrieve default styles and variables
@import "@styles/index.scss";

.nav-button {
    width: 100%;
    border-radius: 15px;
    text-align: center;
    margin: 8px 0;
}

.dark-gray {
    background-color: $colorDarkGray;
}

.light-gray {
    background-color: $colorLightGray;
}
