// To retrieve default styles and variables
@import "@styles/index.scss";

.nav-button {
    width: 100%;
    border-radius: 15px;
    text-align: center;
    margin: 8px 0;
}

.primary {
    background-color: $colorDarkGray;
}

.secondary {
    background-color: $colorLightGray;
}

.disable {
    background-color: $colorLightGrayTransparant;
    color: $colorSilver;
    cursor: not-allowed;
}
