// To retrieve default styles and variables
@import "@styles/index.scss";

.homepage {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .profil {
        align-self: flex-end;
    }

    .new-game-button {
        margin: auto;
    }

    .rules-container {
        display: flex;
        flex-direction: column;
        gap: 8px 0;
    }
}