// To retrieve default styles and variables
@import "@styles/index.scss";

.next-step-button {
    background-color: #1b1b1b;
    padding: 5px;
    border-radius: 18px;
    color: #ffffff;
    width: 100%;
}
