// To retrieve default styles and variables
@import "@styles/index.scss";

.next-step-button {
    background-color: $colorDarkGray;
    border-radius: 18px;
    color: $colorWhite;
    width: 100%;
}
