// App font
@import url("https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700&display=swap");
// App numbers font
@import url("https://fonts.googleapis.com/css2?family=Amita&display=swap");
// App dev part font
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

// ? Color
$colorBlack: #000000;
$colorWhite: #ffffff;
$colorSilver: #c1c1c1;
$colorDarkGray: #121212;
$colorLightGray: #2e2e2e;
$colorLightGrayTransparant: #2e2e2eb3;

$lineHeight: 4px;
$selectorWidth: 45px;
$selectorHeigth: 32px;

$colorRed: #cb0000;
$colorGreen: #00cb00;
$colorLightGreen: #4fbb45d0;
$colorDarkGreen: #25851c99;
