// App font
@import url("https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700&display=swap");
// App numbers font
@import url("https://fonts.googleapis.com/css2?family=Amita&display=swap");
// App dev part font
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

// ? Color
$colorBlack: #000000;
$colorWhite: #ffffff;
$colorDarkGray: #121212;
$colorLightGray: #2e2e2e;
