// Les variables scss qui pourront être utilisées par tous le projet
@import url("https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700&display=swap");

// ? Color
$colorBlack: #000000;
$colorWhite: #ffffff;
$colorDarkGray: #121212;
$colorLightGray:#2e2e2e;
