// To retrieve default styles and variables
@import "@styles/index.scss";

.create-game-container {
    padding: 5px;

    .create-game-step-title {
        font-weight: 400;

        &.disable {
            color: #acacac;
        }
    }
}


