// To retrieve default styles and variables
@import "@styles/index.scss";

.balancing-infos {
    .top-label {
        position: relative;
        height: 25px;

        p {
            position: absolute;
            font-size: 14px;
            transition: all 0.25s;
            line-height: 150%;

            &.hidden {
                opacity: 0;
            }
        }

        .wolf-advantage {
            left: 0;
        }

        .equilibrate {
            left: 50%;
            transform: translateX(-50%);
        }

        .village-advantage {
            right: 0;
        }
    }

    .balancing-range {
        position: relative;
        display: flex;
        flex-direction: column;
        overflow: hidden;

        .balancing-cursor {
            width: 90%;
            margin: auto;
            height: $selectorHeigth;

            &::-webkit-slider-runnable-track {
                width: 100%;
                height: $lineHeight;
                border-radius: 10px;
                background: linear-gradient(
                    90deg,
                    rgb(203, 0, 0) 0%,
                    rgb(255, 255, 255) 44%,
                    rgb(255, 255, 255) 56%,
                    rgb(0, 203, 0) 100%
                );
            }

            &::-webkit-slider-thumb {
                appearance: none;
                -webkit-appearance: none;
            }
        }

        .extreme-limit {
            display: flex;
            justify-content: space-between;
            width: 90%;
            margin: auto;
            max-height: 21px;

            span {
                line-height: 20%;
                margin-bottom: 20px;
                transition: margin 0.25s;

                &.min {
                    transform: translateX(-50%);
                }

                &.max {
                    transform: translateX(50%);
                }
            }
        }

        .range-markers {
            position: relative;
            width: 90%;
            margin: auto;
            top: -10px;
            display: flex;
            justify-content: space-between;
            height: 5px;
            line-height: 100%;

            .one-markers {
                width: 2px;
                overflow: visible;
                position: relative;
                transition: margin 0.25s;

                &::before {
                    background-color: rgba($colorWhite, 0.15);
                    display: block;
                    content: "";
                    width: 2px;
                    height: 6px;
                    text-align: center;
                }

                &.decimal {
                    &::before {
                        background-color: rgba($colorWhite, 0.6);
                    }
                }
            }
        }
    }
}
