// To retrieve default styles and variables
@import "@styles/index.scss";

.balancing-infos {
    .top-label {
        position: relative;
        height: 35px;

        p {
            position: absolute;
            font-size: 14px;
        }

        .wolf-advantage {
            left: 0;
        }

        .equilibrate {
            left: 50%;
            transform: translateX(-50%);
        }

        .village-advantage {
            right: 0;
        }
    }

    .balancing-range {
        position: relative;
        display: flex;
        flex-direction: column;

        $lineHeight: 20px;
        $selectorWidth: 45px;
        $selectorHeigth: 32px;

        .balancing-cursor {
            width: 100%;
            height: $selectorHeigth;

            &::-webkit-slider-runnable-track {
                background: #ccc;
                width: 100%;
                height: $lineHeight;
                border-radius: 10px;
                background: linear-gradient(
                    90deg,
                    #cb0000 0%,
                    #ffffff 45%,
                    #ffffff 55%,
                    #5bcb00 100%
                );
            }

            &::-webkit-slider-thumb {
                -webkit-appearance: none;
            }

            &::-moz-range-thumb {
                background: #ccc;
            }

            &::-ms-track {
                background: transparent;
            }

            &::-ms-fill-lower {
                background: #e1e1e1;
                border-radius: 10px;
            }
            &::-ms-fill-upper {
                background: #eee;
            }
        }

        .slider-value {
            font-family: "Amita", serif;
            font-weight: 400;
            font-size: 20px;
            width: $selectorWidth;
            height: 35px;
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $colorBlack;
            background-color: $colorWhite;
            border-radius: 5px;
            transition: margin 0.25s ease-in-out;
        }

        .extreme-limit {
            display: flex;
            justify-content: space-between;
        }

        .range-markers {
            display: flex;
            justify-content: space-between;
            height: auto;
            overflow: hidden;
            font-family: "Amita", serif;
            font-weight: 400;
            line-height: 100%;

            .one-markers {
                width: 20px;
                overflow: visible;

                &::before {
                    color: rgba($colorWhite, 0.6);
                    background-color: rgba($colorWhite, 0.6);
                    display: block;
                    content: "";
                    margin: auto;
                    margin-bottom: 3px;
                    width: 2px;
                    height: 6px;
                    text-align: center;
                }
            }
        }
    }
}
