// To retrieve default styles and variables
@import "@styles/index.scss";

.dev-infos {
    padding: 20px;
    background-color: $colorWhite;
    height: fit-content;
    width: fit-content;

    p {
        font-size: 16px;
        line-height: 22px;
    }
}