// To retrieve default styles and variables
@import "@styles/index.scss";

.app-new-game {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .home-page-link {
        align-self: flex-start;

        .home-link-icon {
            svg {
                width: 25px;
                height: 25px;
                fill: $colorWhite;
            }
        }
    }
}
