// To retrieve default styles and variables
@import "@styles/index.scss";

.homepage {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .options {
        display: flex;
        flex-wrap: wrap;
    }

    .checkbox-wrapper {
        width: 30px;
        height: 30px;

        input {
          position: absolute;
          opacity: 0;
        }
          
        input:checked + label svg path {
          stroke-dashoffset: 0;
        }
          
        input:focus + label {
          transform: scale(1.03);
        }
      
        input + label {
          display: block;
          border: 2px solid #333;
          width: 100%;
          height: 100%;
          border-radius: 6px;
          cursor: pointer;
          transition: all .2s ease;
        }
          
        input + label:active {
          transform: scale(1.05);
          border-radius: 12px;
        }
          
        input + label svg {
          pointer-events: none;
          padding: 5%;
        }
      
        input + label svg path {      
          fill: none;     
          stroke: #333;
          stroke-width: 4px;
          stroke-linecap: round;
          stroke-linejoin: round;
          stroke-dasharray: 100;
          stroke-dashoffset: 101;
          transition: all 250ms cubic-bezier(1,0,.37,.91);
        }
    }

    .profil {
        align-self: flex-end;
    }

    .new-game-button {
        margin: auto;
    }

    .rules-container {
        display: flex;
        flex-direction: column;
        gap: 8px 0;
    }
}
